{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Employee Records</title>

    <link rel="stylesheet" href="{% static './employee/bootstrap.css' %}"/>
</head>
<body class="container">
<table class="table table-striped table-bordered table-sm">
    <thead class="thead-dark">
    <tr>
        <th>Employee ID</th>
        <th>Employee Name</th>
        <th>Employee Email</th>
        <th>Employee Contact</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
{% for employee in employees %}
    <tr>
        <td>{{ employee.Emp_id }}</td>
        <td>{{ employee.Emp_name }}</td>
        <td>{{ employee.Emp_email}}</td>
        <td>{{ employee.Emp_contact }}</td>
        <td>
            <a href="/emp/edit/{{ employee.Emp_id }}/" class="btn btn-warning"><span class="glyphicon glyphicon-pencil" >Edit</span></a>
            <a href="/emp/delete/{{ employee.Emp_id }}/" class="btn btn-danger">Delete</a>
        </td>
    </tr>
{% endfor %}
    </tbody>
</table>
<br>
<br>
<center><a href="/emp/" class="btn btn-primary">Add New Record</a></center>
</body>
</html>
